* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Cirka";
  src: url("./assets/fonts/Cirka-Light.otf");
}

@font-face {
  font-family: "Cirka Bold";
  src: url("./assets/fonts/Cirka-Bold.otf");
}

@font-face {
  font-family: "Cirka Variable";
  src: url("./assets/fonts/Cirka-Variable.ttf");
}

body {
  font-family: "Cirka", serif;
}
